<% layout("/layouts/boilerPlate") %>

    <body>

        <div class="row d-flex justify-content-evenly">

            <% for(let listing of allListing) { %>
                <a href="/listings/<%= listing._id %>" class="col-lg-3 col-md-4 col-xs-6 mb-4 listings-link overlay-effect">
                    <div class="card" style="width: 17rem;">
                        <img src=" <%= listing.image %>" class="card-img-top" alt=" <%= listing.title %>"
                            style="height: 15rem;">
                        <div class="card-body">
                            <b>
                                <%= listing.title %>
                            </b>
                            <p class="card-text">
                                &#8377; <%= listing.price.toLocaleString('en-IN') %> / night
                            </p>
                        </div>
                    </div>
                </a>
                <% }%>

        </div>




    </body>