<% layout("/layouts/boilerPlate") %>

    <body>
        <div class="row d-md-flex justify-content-center">
            <div class="card mt-2 col-md-8 card-listing">
                <img src="<%= listing.image %>" class="card-img-top card-img-top-listing" alt="..."
                    style="height: 50vh;">
                <div class="card-body card-body-listing mt-2 ms-2">
                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>
                    <p>
                        <%= listing.description %>
                    </p>
                    <p><b>
                            &#8377;
                            <%= listing.price.toLocaleString("en-IN") %> / night
                    </p></b>
                    <p>
                        owned by
                        <b>
                            <i>
                                <%= listing.owner.username %>
                            </i></b>
                    </p>
                    <p>
                        <%= listing.location %>,
                            <%= listing.country %>
                    </p>
                    <% if (currUser && currUser._id.equals(listing.owner._id)) { %>


                        <div class="d-flex justify-content-center">
                            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary me-3">Edit</a>
                            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                                <button class="btn btn-danger" name="archive" type="submit" onclick="deleteFunction()">
                                    Delete
                                </button>
                            </form>
                        </div>
                        <% } %>
                            <hr>


                            <div class="reviews mt-3">
                                <%if(listing.reviews.length> 0) {%>
                                    <h3 class="mb-3">Reviews</h3>
                                    <div class="row">
                                        <% for(let review of listing.reviews) { %>
                                            <div class="col-6 mb-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><b>@ <i>
                                                                    <%=review.author.username %>
                                                                </i></b> </h4>
                                                        <p class="card-text">
                                                            <%= review.comment %>
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <p class=" card-text starability-result"
                                                                data-rating="<%= review.rating %>">
                                                            </p>
                                                            <form
                                                                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                                method="post"> <button
                                                                    class="btn btn-sm btn-form">Delete</button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <%} %>

                                    </div>
                                    <hr>
                                    <% } %>

                                        <% if (currUser) { %>
                                            <h5> <b>Leave a Reviews</b></h5>
                                            <form class="needs-validation mt-2"
                                                action="/listings/<%= listing._id %>/reviews" method="post" novalidate>
                                                <div class="col-6">
                                                    <label for="rating" class="form-label">Rating</label>
                                                    <fieldset class="starability-slot">
                                                        <input type="radio" id="no-rate" class="input-no-rate"
                                                            name="review[rating]" value="1" checked
                                                            aria-label="No rating." />
                                                        <input type="radio" id="first-rate1" name="review[rating]"
                                                            value="1" />
                                                        <label for="first-rate1" title="Terrible">1 star</label>
                                                        <input type="radio" id="first-rate2" name="review[rating]"
                                                            value="2" />
                                                        <label for="first-rate2" title="Not good">2 stars</label>
                                                        <input type="radio" id="first-rate3" name="review[rating]"
                                                            value="3" />
                                                        <label for="first-rate3" title="Average">3 stars</label>
                                                        <input type="radio" id="first-rate4" name="review[rating]"
                                                            value="4" />
                                                        <label for="first-rate4" title="Very good">4 stars</label>
                                                        <input type="radio" id="first-rate5" name="review[rating]"
                                                            value="5" />
                                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                                    </fieldset>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="comment" class="form-label">Comment</label>
                                                    <textarea class="form-control" id="comment" rows="3"
                                                        name="review[comment]" required></textarea>
                                                    <div id="comment" class="invalid-feedback">
                                                        Please give a comment
                                                    </div>
                                                </div>
                                                <div class="container text-center">
                                                    <button class="btn btn-form">Add Review</button>
                                                </div>
                                            </form>
                                            <% } %>
                            </div>

                </div>
            </div>
        </div>

    </body>